// variables
$primary: #e24051;
$secondary: #750d13;
$tertiary: #ff9fb4;
$dark: #151515;
$grey-dark: #3f3f3f;
$grey: #7f7f7f; 
$light: #f0f0f0;
$lighter: #ffffff;
$twitch-purple: #9146ff;
$twitch-lighter: #d099ff;